// Place all the styles related to the quote controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Imports */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400); /* Google Webfont to replace Helvetica Nueue if needed */
@import url(http://fonts.googleapis.com/css?family=Great+Vibes); /* Google Webfont to replace Helvetica Nueue if needed */

body{
    height: 100%;
    font: {
        family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue" ,"Open Sans", "Segoe UI", "Lucida Sans", Helvetica, Verdana, Arial, sans-serif;
        weight: 300;
        }
}
/* MARK: Header */

#hdrCenter{
    width:100%;
    text-align:center;
    color: #888;
    font-size: 1.5em;
    font-weight: 300;
    height: 40px;
}

/* MARK: Single Quote */
blockquote{
    width: 15em;
    margin: 25% auto 0;
    border: none;
    background-color: rgba( 255, 255, 255, 0.2);
    text-align: right;
    border-radius: 5px;

    font: {
        size: 2em;
    }
    p{
        display:none;
        text-align: left;
    }
    cite{
        display:none;
    transition: background 0.5s ease-in-out;
        font:{
            family: 'Great Vibes', cursive;
            size: .8em;
        }
    }
}